<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<th:block th:replace="~{../static/css/home/top.css}"></th:block>
<th:block th:replace="~{../static/css/User/Shopping.css}"></th:block>
<th:block th:replace="~{../static/css/home/bottom.css}"></th:block>

<body>
<th:block th:replace="~{../static/inc/top.html}"></th:block>
<section>
    <br><br>
        <table class="ItemList_table">
            <tr>
                <td colspan="4">
                    <select name="category1" id="category1" class="categories" onchange="set_category2(this.value)">
                        <option value="none">선택</option>
                        <th:block th:each="first : ${first}">
                            <option th:text="${first.category_name}"
                                    th:value="${first.code}">
                            </option>
                        </th:block>
                    </select>
                    &emsp;&emsp;
                    <select name="category2" id="category2" class="categories" onchange="set_category3(this.value)">
                        <option value="none">선택</option>
                    </select>
                    &emsp;&emsp;
                    <select name="category3" id="category3" class="categories">
                        <option value="none">선택</option>
                    </select>
                    &emsp;&emsp;
                    <input type="text" name="keyword" id="keyword" class="keyword">
                    &emsp;
                    <input type="button" class="category_search" value="검색" onclick="search_item()">
                    <br><br>
                </td>
            </tr>

            <tr id="item_list" class="item_list">
                <td th:each="list : ${item_list}">
                    <a th:href="@{/main/ItemView(idx = ${list.idx})}">
                        <img th:src="@{/tools/thum_download(image = 'thum_'+${list.itemsFileEntities.get(0).path})}" width="150px" height="150px;">
                    </a><br>
                    <a th:href="@{/main/ItemView(idx = ${list.idx})}"><p th:text="${list.item}" class="item_name"></p></a>
                </td>
            </tr>

            <tr>
                <td colspan="5" class="paging_td">
                    <a th:if="${nowPage != startPage} and ${endPage != 0}" th:href="@{/main/ItemList(page = 0,keyword = ${keyword}, category = ${category})}">⏪</a>
                    <a th:if="${nowPage != startPage} and ${endPage != 0}" th:href="@{/main/ItemList(page = ${nowPage - 2},keyword = ${keyword}, category = ${category})}">◀</a>
                    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}" style="margin:0 auto;">
                        <a th:if="${page != nowPage} and ${endPage != 0}" th:href="@{/main/ItemList(page = ${page - 1},keyword = ${keyword}, category = ${category})}" th:text="${page}"></a>
                        <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
                    </th:block>
                    <a th:if="${nowPage != endPage} and ${endPage != 0}" th:href="@{/main/ItemList(page = ${nowPage},keyword = ${keyword}, category = ${category})}">▶</a>
                    <a th:if="${nowPage != endPage} and ${endPage != 0}" th:href="@{/main/ItemList(page = ${maxPage-1},keyword = ${keyword}, category = ${category})}">⏩</a>
                </td>
            </tr>
        </table>
</section>

<th:block th:replace="~{../static/inc/bottom.html}"></th:block>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript" src="/js/User/Shopping.js"></script>
</html>

