<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<th:block th:replace="~{../static/css/home/top.css}"></th:block>
<th:block th:replace="~{../static/css/home/bottom.css}"></th:block>

<body>
<th:block th:replace="~{../static/inc/top.html}"></th:block>

<section>
    <table style="width:100%">
        <tr>
            <td align="center">
                <img src="/image/beer1.jpg" alt="fail" style="width:24%; height:200px;">
                <img src="/image/beer2.jpg" alt="fail" style="width:24%; height:200px;">
                <img src="/image/beer3.jpg" alt="fail" style="width:24%; height:200px;">
                <img src="/image/beer4.jpg" alt="fail" style="width:24%; height:200px;">
            </td>
        </tr>
    </table>
</section>

<th:block th:replace="~{../static/inc/bottom.html}"></th:block>
</body>
</html>