<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<th:block th:replace="~{../static/css/home/top.css}"></th:block>
<th:block th:replace="~{../static/css/home/login.css}"></th:block>
<th:block th:replace="~{../static/css/home/bottom.css}"></th:block>

<body>
<th:block th:replace="~{../static/inc/top.html}"></th:block>

<section>
<form action="/login_proc" method="post" name="mf">
    <table class="login_table">

        <tr>
            <td class="login_title_td">
                <h3 class="title_h3">
                    <span class="login_title">LOGIN PAGE</span>
                </h3>
            </td>
        </tr>

        <tr>
            <td>
                <br>
                <label class="userid_label">
                    <span class="userid_span">&emsp;I &nbsp; D&emsp;&emsp;</span>
                    <input type="text" name="userid" class="userid">
                </label>
            </td>
        </tr>

        <tr>
            <td>
                <br>
                <label class="password_label">
                    <span class="password_span" style="">PASS WORD&emsp;&emsp;</span>
                    <input type="password" name="password" class="password">
                </label>
            </td>
        </tr>

        <tr>
            <td><br>
                <input type="submit" value="L  O  G  I  N" class="login_btn" onclick="return login_ck()">
            </td>
        </tr>

        <tr>
            <td><br>
                <a th:href="@{/main/join}">
                <input type="button" value="J O I N    U S" class="join_btn">
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <div>
                    <button type="button" name="search_userid" class="search_userid_btn"><span> S E A R C H &nbsp;<b>ID</b></span></button>
                    <button type="button" name="search_password" class="search_password_btn"><span> S E A R C H &nbsp;<b>PW</b></span></button>
                </div>
            </td>
        </tr>

    </table>
</form>
    <br>
</section>

<br><th:block th:replace="~{../static/inc/bottom.html}"></th:block>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
window.onload = function()
{
    $(".login_table").fadeIn(600);
}
function login_ck()
    {
        if(mf.userid.value == "")
           {
                alert("아이디를 입력해주세요!");
                mf.userid.focus();
                return false;
           }
        else if(mf.password.value == "")
        {
            alert("비밀번호를 입력해주세요!");
            mf.password.focus();
            return false;
        }
    }
</script>
</html>