<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<th:block th:replace="~{../static/css/home/top.css}"></th:block>
<th:block th:replace="~{../static/css/home/bottom.css}"></th:block>

<body>
<th:block th:replace="~{../static/inc/top.html}"></th:block>

<section>
    <br>
    <center><h1>L O G I N</h1></center>
<form action="/login_proc" method="post" name="mf">
    <table class="login_table">
        <tr>
            <td><b>회원 아이디</b></td>
        </tr>

        <tr>
            <td><input type="text" name="userid" class="userid" placeholder="아이디를 입력해 주세요"></td>
        </tr>

        <tr>
            <td><br><b>비밀번호</b></td>
        </tr>

        <tr>
            <td><input type="password" name="password" class="password" placeholder="비밀번호를 입력해 주세요"></td>
        </tr>

        <tr>
            <td><br>
                <input type="submit" value="로그인" class="login_btn" onclick="return login_ck()">
            </td>
        </tr>

        <tr>
            <td align="right">
                <a th:href="join">회원가입</a> / 아이디찾기 / 비밀번호찾기
            </td>
        </tr>
    </table>
</form>
    <br>
</section>

<br><th:block th:replace="~{../static/inc/bottom.html}"></th:block>
</body>
</html>

<script>
function login_ck()
    {
        if(mf.userid.value == "")
           {
                alert("아이디를 입력해주세요!");
                mf.userid.focus();
                return false;
           }
        else if(mf.password.value == "")
        {
            alert("비밀번호를 입력해주세요!");
            mf.password.focus();
            return false;
        }
    }
</script>

