<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<th:block th:replace="~{../static/css/home/top.css}"></th:block>
<th:block th:replace="~{../static/css/User/ShoppingView.css}"></th:block>
<th:block th:replace="~{../static/css/home/bottom.css}"></th:block>

<body>
<th:block th:replace="~{../static/inc/top.html}"></th:block>
<section>
    <div class="main_div">
    <div id="images" class="image_div" onmouseenter="btn_on()" onmouseleave="btn_off()">
        <th:block th:each="image, imageStat : ${images}">
            <div><img th:src="@{/tools/download(image = ${image})}" class="images" th:id="image+${imageStat.count}"></div>
        </th:block>
        <input type="hidden" id="image_count" value="1">
        <span id="prev_btn" class="prev_btn" title="이전상품사진" onclick="change_count(this.id), change_image()"><b>〈</b></span>
        <span id="next_btn" class="next_btn" title="다음상품사진" onclick="change_count(this.id), change_image()"><b>〉</b></span>
    </div>
    <div id="info" class="info_div">
        <table class="info_table">
            <tr>
                <td>
                    <div class="item_div">
                        <div class="item_title">
                            <p class="item_title1"><b>Product Info</b></p>
                            <p class="item_title2"><b>제품정보</b></p>
                        </div>
                        <div class="item_content">
                            <p class="item_name">제품명/&emsp;</p><p th:text="${item.item}"></p>
                            <p><b>태그</b></p>
                            <div class="item_tag">
                            <th:block th:each="tag : ${tag}">
                                <p class="item_tag1"><b># [[${#strings.listSplit(tag,'/')[1]}]]</b>&emsp;</p>
                            </th:block>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="delivery_div">
                        <div class="delivery_title">
                            <p class="delivery_title1"><b>Delivery Info</b></p>
                            <p class="delivery_title2"><b>배송정보</b></p>
                        </div>
                        <div class="delivery_content">
                            <p style="font-weight:bold;">도착 예정일 : 내일 도착 예정</p>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="price_div">
                        <div class="price_title">
                            <p class="price_title1"><b>Price Info</b></p>
                            <p class="price_title2"><b>가격정보</b></p>
                        </div>
                        <div class="price_content">
                            <p id="down_btn" class="down_btn" onclick="count_info(this.id)">◀</p>
                            <input type="text" id="quantity" value="1" class="quantity" readonly>
                            <p id="up_btn" class="up_btn" onclick="count_info(this.id)">▶</p>
                            <p class="price">&emsp;가격 : 1,000원</p>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div>
                    <input type="button" value="바로구매" class="direct_btn">&emsp;
                    <input type="button" value="장바구니" class="basket_btn">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    </div>
</section>

<th:block th:replace="~{../static/inc/bottom.html}"></th:block>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript" src="/js/User/Shopping.js"></script>
<script>
    document.getElementById("image2").style.display = "none";
    document.getElementById("image3").style.display = "none";
    function btn_on()
    {
        document.getElementById("prev_btn").style.display = "block";
        document.getElementById("next_btn").style.display = "block";
    }
    function btn_off()
    {
        document.getElementById("prev_btn").style.display = "none";
        document.getElementById("next_btn").style.display = "none";
    }
    function change_count(id)
    {
        var count = parseInt(document.getElementById("image_count").value);
        if(id == "prev_btn") // 이전
        {
            if(count == 1)
            {
                count = 3;
            }
            else
            {
                count = count - 1;
            }
        }
        else if(id == "next_btn") // 다음
        {
            if(count == 3)
            {
                count = 1;
            }
            else
            {
                count = count + 1;
            }
        }
        document.getElementById("image_count").value = count;
    }
    function change_image(id)
    {
        var image1 = document.getElementById("image1");
        var image2 = document.getElementById("image2");
        var image3 = document.getElementById("image3");
        var count = document.getElementById("image_count").value;

        if(count == "1")
        {
            image1.style.display = "block";
            image2.style.display = "none";
            image3.style.display = "none";
        }
        else if(count == "2")
        {
            image1.style.display = "none";
            image2.style.display = "block";
            image3.style.display = "none";
        }
        else
        {
            image1.style.display = "none";
            image2.style.display = "none";
            image3.style.display = "block";
        }
    }
    function count_info(id)
    {
        var quantity = parseInt(document.getElementById("quantity").value);
        if(id == "up_btn")
        {
            quantity = quantity + 1;
        }
        else if(id == "down_btn")
        {
            if(quantity<2)
            {
                quantity = 1;
            }
            else
            {
                quantity = quantity - 1;
            }
        }

        document.getElementById("quantity").value = quantity;
    }
</script>
</html>

