<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<th:block th:replace="~{../static/css/home/top.css}"></th:block>

<th:block th:replace="~{../static/css/home/bottom.css}"></th:block>

<body>
<th:block th:replace="~{../static/inc/top.html}"></th:block>
<section>
    <table>
        <tr>
            <td><h3>My Info</h3></td>
        </tr>

        <tr>
            <td>
            <input type="button" value="Pay Point">
            <input type="button" value="Payment">
            <input type="button" value="Delivery">
            </td>
        </tr>

        <tr>
            <td>

            </td>
        </tr>
    </table>
</section>

<th:block th:replace="~{../static/inc/bottom.html}"></th:block>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>

