<style>
.td1
{
    font-weight:bold;
    width:100px;
}
.td1, .td2
{
    text-align:left;
}
.col_td1
{
    text-decoration:underline;
}
.col_td1, .col_td2
{
    text-align:center;
}
.item_info
{
    border-top:0px;
    border-right:0px;
    border-left:0px;
    outline:none;
}
.item_info:focus
{
    border-color:#0982f0;
    outline:none
}
.item_content
{
    resize : none;
    height:100px;
    width:200px;
}
.item_btn, .back_btn
{
    width:150px;
    height:30px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    background-color:white;
    font-size:18px;
    font-weight:bold;
}
#category1
{
    border-top:0px;
    border-left:0px;
    border-right:0px;
    outline:none;

}
#category2, #category3
{
    border-top:0px;
    border-left:0px;
    border-right:0px;
    outline:none;
}
#inventory, #price
{
    text-align:right;
}
</style>