<style>
.ItemList_table
{
    text-align:center;
    margin:80px auto;
    width:60%;
}
.list_check
{
    width:50px;
    font-weight:bold;
    font-size:20px;
}
.list_image, .list_item, .list_inventory
{
    width: 100px;
    font-weight:bold;
    font-size:20px;
}
.list_price
{
    width: 150px;
    font-weight:bold;
    font-size:20px;
}
.list_btn
{
    text-align:right;
}
.list_category1, .list_category2, .list_category3
{
    width:80px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    background-color:white;
    text-align:center;
    font-size:16px;
}

</style>