<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>Category</title>
</head>

<th:block th:replace="~{../static/css/home/top.css}"></th:block>
<th:block th:replace="~{../static/css/UserList.css}"></th:block>
<th:block th:replace="~{../static/css/home/bottom.css}"></th:block>

<body>
<th:block th:replace="~{../static/inc/top.html}"></th:block>

<section>
    <form>
    <table style="width:60%; margin:100px auto">
        <tr>
            <td colspan="5" style="text-align:center;">
                <h2>User List</h2>
                <br>
            </td>
        </tr>

        <tr>
            <td class="user_check">구분</td>
            <td class="user_name">이름</td>
            <td class="user_gender">성별</td>
            <td class="user_date">생년월일</td>
            <td class="user_phone">연락처</td>
        </tr>

        <tr th:each="users : ${user_list}">
            <td class="user_check_">
                <ul class="list-group">
                    <li class="list-group-item">
                        <input type="checkbox" name="User_Check" th:value="${users.idx}">
                    </li>
                </ul>
            </td>

            <td class="user_name_">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span id="name"><a th:href="@{/admin/UserView(idx = ${users.idx})}">[[${users.name}]]</a></span>
                    </li>
                </ul>
            </td>

            <td class="user_gender_">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span id="gender" th:text="${users.gender}"></span>
                    </li>
                </ul>
            </td>

            <td class="user_date_">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span id="date" th:text="${users.year} + '년' + ${users.month} + '월' + ${users.day} + '일'"></span>
                    </li>
                </ul>
            </td>

            <td class="user_phone_">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span id="phone" th:text="${users.hp}"></span>
                    </li>
                </ul>
            </td>
        </tr>

        <tr>
            <td colspan="5" class="td_btn"><br><br>
                <button type="submit" formmethod="post" class="btn btn-secondary" formaction="/admin/Users_Delete">삭제</button>
                <br><br>
            </td>
        </tr>
    </table>
    </form>
</section>
<th:block th:replace="~{../static/inc/bottom.html}"></th:block>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>