<style>
.Community_title
{
    text-decoration:underline;
    text-align:center;
}
.border_post, .border_index, .border_views
{
    width:60px;
    font-weight:bold;
    text-align:center;
    font-size:18px;
}
.border_post_, .border_index_, .border_views_, .border_title_, .border_writer_, .Community_btn
{
    text-align:center;
}

.border_title
{
    width:400px;
    font-weight:bold;
    text-align:center;
    font-size:18px;
}
.border_writer
{
    width:100px;
    font-weight:bold;
    text-align:center;
    font-size:18px;
}
.write_btn
{
    width:75px;
    height:30px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    background-color:white;
    font-size:18px;
    font-weight:bold;
}
.type1, .type2, .type3
{
    border-radius:20px;
    border-color:black;
    background-color:white;
    font-weight:bold;
    width:75px;
    height:40px;
}
</style>