<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<th:block th:replace="~{../static/css/home/top.css}"></th:block>
<th:block th:replace="~{../static/css/Community/CommunityModify.css}"></th:block>
<th:block th:replace="~{../static/css/home/bottom.css}"></th:block>
<body>
<th:block th:replace="~{../static/inc/top.html}"></th:block>

<section>
    <form method="post" action="/admin/CommunityModify_proc" enctype="multipart/form-data">
        <table class="register_table">
            <tr>
                <td class="modify_subject" colspan="2">
                    <h2>Board Modify</h2>
                    <input type="hidden" name="idx" th:value="${info.idx}">
                    <input type="hidden" name="regdate" th:value="${info.regdate}">
                    <input type="hidden" name="hit" th:value="${info.hit}">
                    <input type="hidden" name="type" th:value="${info.type}">
                </td>
            </tr>

            <tr>
                <td class="modify_td1"><b>작성자</b></td>
                <td class="modify_td2"><span th:text="${info.name}"></span></td>
            </tr>

            <tr>
                <td class="modify_td1"><b>제목</b></td>
                <td class="modify_td2"><input type="text" name="title" th:value="${info.title}" class="modify_title"></td>
            </tr>

            <tr>
                <td class="modify_td1"><b>내용</b></td>
                <td class="modify_td2"><textarea name="content" class="content">[[${info.content}]]</textarea></td>
            </tr>

            <tr>
                <td class="modify_td1"><b>첨부파일</b></td>
                <td class="modify_td2">
                    <input type="file" name="files" id="register_file1" class="register_file" onchange="Preview1(this)">
                    <img class="modify_image" id="image1" th:src="@{/admin/review(image=${info.path.get(0)})}" onclick="change_image1()">

                    <input type="file" name="files" id="register_file2" class="register_file" onchange="Preview2(this)">
                    <img class="modify_image" id="image2" th:src="@{/admin/review(image=${info.path.get(1)})}" onclick="change_image2()">

                    <input type="file" name="files" id="register_file3" class="register_file" onchange="Preview3(this)">
                    <img class="modify_image" id="image3" th:src="@{/admin/review(image=${info.path.get(2)})}" onclick="change_image3()">
                </td>
            </tr>

            <tr>
                <td class="register_btn_td" colspan="2">
                    <input type="submit" value="수정" class="register_btn">
                </td>
            </tr>
        </table>
    </form>
</section>
<th:block th:replace="~{../static/inc/bottom.html}"></th:block>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript" src="/js/Community/CommunityModify.js"></script>
</html>

