<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>Category</title>
</head>

<th:block th:replace="~{../static/css/home/top.css}"></th:block>
<th:block th:replace="~{../static/css/Items/ItemCategory.css}"></th:block>
<th:block th:replace="~{../static/css/home/bottom.css}"></th:block>

<body>
<th:block th:replace="~{../static/inc/top.html}"></th:block>

<section>
    <div style="margin:100px auto;">
        <div>
            <form action="/admin/CategoryRegister" method="post">
                <table style="margin:0 auto; border:1px solid; width:80%;">

                    <tr>
                        <td colspan="5" style="text-align:center;">
                            <span style="font-weight:bold; font-size:24px;">Category</span>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center;">
                            <div class="btn-group dropend">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">1차 카테고리</button>
                                <ul class="dropdown-menu">
                                    <li><button class="dropdown-item" type="button" value="category1" onclick="change_label1(this.value)">1차 카테고리 추가</button></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li th:each="first, firstStat : ${first}">
                                        <button class="dropdown-item" type="button" th:value="${first.code}" th:text="${first.category_name}" onclick="change_label1(this.value)"></button>
                                    </li>
                                </ul>
                            </div>
                        </td>

                        <td>
                            <div class="btn-group dropend" id="category2" style="display:none;">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">2차 카테고리</button>
                                <ul class="dropdown-menu" id="dropdown-menu2">
                                    <li><button class="dropdown-item" type="button" value="category1">2차 카테고리 추가</button></li>
                                    <li><hr class="dropdown-divider"></li>
                                </ul>
                            </div>
                        </td>

                        <td>
                            <input type="text" name="code" id="code" class="code" value="none" readonly>
                            <input type="text" name="category_name" id="category_name">
                        </td>
                        <td><input type="button" value="등록"></td>
                    </tr>
                </table>
            </form>
        </div>

        <br><br>
        <div>
            <table class="modify_table" style="margin:0 600px;">
                <tr>
                    <td colspan="3" class="modify_title"><h2>Category List</h2></td>
                </tr>

                <tr>
                    <td class="modify_code_info" colspan="3">
                        <form>
                        <input type="text" name="modify_code" id="modify_code" class="modify_code" readonly>
                        <input type="text" name="modify_name" id="modify_name" class="modify_name">
                            <button type="submit" formaction="/admin/Category_modify" formmethod="post">수정</button>
                            <button type="submit" formaction="/admin/Category_delete" formmethod="post" onclick="return category_check()">삭제</button>
                        </form>
                    </td>
                </tr>

                <tr>
                    <td class="first_td" id="first_td">
                        <th:block th:each="first, firstStat : ${first}">
                            <span th:id="first+${firstStat.count}" th:text="${first.category_name}" class="first_class" th:onclick="set_second([[${first.code}]],this.id,[[${first.category_name}]])"></span>
                            <br><br>
                        </th:block>
                    </td>

                    <td id="second_td" class="second_td">
                        <div id="second" class="second"></div>
                    </td>

                    <td id="third_td" class="third_td">
                        <div id="third" class="third"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

<th:block th:replace="~{../static/inc/bottom.html}"></th:block>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script th:inline="javascript" src="/js/Items/ItemCategory.js"></script>
</html>

